img.home-bg {
  min-height: 80%;
  min-width: 80%;
  height: auto;
  top: 0;
  left: 0;
  margin-top: 100px;
  display: block;
  display: block;
  margin-left: auto;
  margin-right: auto;  
}

.text{
    text-align: left;
    position: relative;
    margin-top: 100px;
    color: blue;
}
ul#menu li {
    float: left;
    text-align: left;
    color: 007832;
    display:inline;
}
img {
    margin: 2px;
    border: 2px solid #009cff;
}
#ALevel {
    text-align: left;
}
.left {
    float: left;
}
.titles {
    text-align: left
}

#Sample, #Specifications {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: white;
    color: black;

}
